
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family:  cursive;
    font-weight: 450;
}
body::-webkit-scrollbar{
    display: none;
}
#main {
    height: 100%;
    width: 100%;
    background: url(bg.png);
    background-size: cover;

}

nav {
    padding: 2vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4vw;


}

nav .center {
    display: flex;
    gap: 20px;
}
nav i{
    color: #fff;
    font-size: 1.2rem;
}
#home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 86vh;
    padding: 2vw;
    padding-bottom: 20vh;

}
#home h1 {
    font-size: 18vw;
    color: #fff;
}

#home #can {
    position: absolute;
    width: 30%;
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

}

#chocolate {
    position: absolute;
    top: -9%;
    left: 43%;
    width: 25%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

    z-index: 2;
}

#chocolate2 {
    position: absolute;
    width: 13%;
    top: 62%;
    left: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

    z-index: 2;
}

#almod {
    position: absolute;
    width: 8%;
    top: -1%;
    left: 6%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

    z-index: 2;
    rotate: 30deg;
}

#almod2 {
    position: absolute;
    width: 8%;
    top: 75%;
    left: 76%;
    rotate: 280deg;

    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

    z-index: 2;
}

#about {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, #a9774e, #864831, #402014);
    display: flex;

}

#about .aboutleft {
    width: 40%;
    height: 100vh;
    position: relative;

}

#about .aboutleft img {
    margin-top: 35vh;
    width: 90%;
    transform: rotateX(50deg);
}

#about .aboutright {
    width: 60%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: justify;
    flex-direction: column;
}

#about .aboutright h1 {
    color: #fff;
    width: 70%;

    font-size: 5vw;
}

#about .aboutright p {
    color: #fff;
    width: 70%;

    font-size: 1.2vw;

}

#footer {
    height: 100vh;
    width: 100%;
    background: url(footer1.jpg);

    background-size: cover;
    background-position: 0% 50%;
    object-fit: cover;
}